{{template "header.html" T "login"}}

<div class="container centered">
  <div class="one-third column centered">
    <div class="row" style="margin: 10px 0">{{template "logo.html"}}</div>

    {{if eq .WrongPassword "true"}}
    <div class="row error-block">
      <p class="u-full-width">{{T "invalid_password"}}</p>
    </div>
    {{end}}

    <form enctype="multipart/form-data" method="post" action="/login" id="login-form" style="text-align:left">
      <div class="row">
        <label for="contest">{{T "contest_file_label"}}</label>
        <input type="file" id="contest" name="contest" class="u-full-width">
      </div>

      <div class="row">
        <label for="contest">{{T "password_label"}}</label>
        <input class="u-full-width" type="password" name="password" required>
      </div>

      <div class="row">
        <input class="button-primary u-full-width" type="submit" value="login">
      </div>
    </form>
  </div>
</div>

{{template "footer.html"}}
