{{template "header.html" T "login"}}

<div class="container">
  <div class="one-third column centered">
    <div class="row" style="margin: 10px 0">{{template "logo.html"}}</div>

    {{if eq .WrongPassword "true"}}
    <div class="row error-block">
      <p class="u-full-width">{{T "invalid_password"}}</p>
    </div>
    {{end}}

    <form method="post" action="/login">
      <div class="row">
        <input class="u-full-width" type="password" placeholder="{{T "password_placeholder"}}" name="password" required>
      </div>
      <div class="row">
        <select class="u-full-width" id="contest" name="contest" required>
          <option value="" disabled selected hidden>{{T "select_competition"}}</option>
          {{range .Contests}}
          <option value="{{.Name}}">{{.Title}}</option>
          {{end}}
        </select>
      </div>
      <div class="row">
        <input class="button-primary u-full-width" type="submit" value="login">
      </div>
    </form>
  </div>
</div>

{{template "footer.html"}}
