{{template "header.html" T "overview"}}

<div class="container">
  {{template "sidebar.html" .}}

  <div class="nine columns">
    <div class="row">
      <h2>{{.Title}}</h2>
      <table class="u-full-width" id="submissions-table">
        <thead>
          <tr>
            <th>{{T "problem"}}</th>
            <th>{{T "last_result"}}</th>
            <th>{{T "score"}}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>$(setupOverviewPage());</script>

{{template "footer.html"}}
