{{template "header.html" "Configuração"}}

<div class="container"
     style="position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
                -ms-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
            text-align:center;">
  <h1>Configure o tempo e data de início do contest</h1>
  <form>
    <input id="datetime" type="datetime-local">
  </form>
</div>

{{template "footer.html"}}
