<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{{.}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/static/dist/obi.ico" type="image/x-icon">
  <link rel="icon" href="/static/dist/obi.ico" type="image/x-icon">

  <link rel="stylesheet" href="/static/dist/obijudge.css">
  <link rel="stylesheet" href="/static/dist/fonts.css">

  <script src="/static/dist/obijudge.js"></script>

  <script>
    $(document).ready(function() {
      renderMathInElement(document.body, {
        delimiters: [
          {left: "$$", right: "$$", display: true},
          {left: "\\[", right: "\\]", display: true},
          {left: "$", right: "$", display: false},
          {left: "\\(", right: "\\)", display: false}
        ]
      });
    });
  </script>
</head>
<body>
