{{template "header.html" T "overview"}}

<div class="container">
  {{template "sidebar.html" .}}

  <div class="two-thirds column">
    <div class="row">
      <h2>{{.Title}}</h2>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>{{T "problem"}}</th>
            <th>{{T "last_result"}}</th>
            <th>{{T "score"}}</th>
          </tr>
        </thead>
        <tbody>
          {{range $task := .Tasks}}
          <tr style="white-space:pre">
            <td>{{$task.Title}}</td>
            <td>{{with (index $.Scores $task.Name)}}{{.String $.T}}{{end}}</td>
            <td>{{with (index $.Scores $task.Name)}}{{.Score}}{{end}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{template "footer.html"}}
