<div class="one-third column">
  <div class="row" style="margin: 10px 0">
    {{template "logo.html"}}
  </div>

  <div class="row">
    <a href="/overview" class="button u-full-width {{if eq .PageID "_overview"}}button-primary{{end}}">
      {{T "overview"}}
    </a>
    <form method="post" action="/logout" style="margin-bottom:0;">
      <input class="button u-full-width" type="submit" name="logout" value="{{T "logout"}}" />
    </form>
  </div>

  <div class="row">
    <h4>{{T "tasks"}}</h4>
    {{range .Tasks}}
    <a href="/task/{{.Name}}" class="button u-full-width {{if eq $.PageID .Name}}button-primary{{end}}">
      {{.Title}}
    </a>
    {{end}}
  </div>

  <div class="row">
    <h4>{{T "documentation"}}</h4>
      {{range .Refs}}
        <a class="button" href="/ref/{{.Name}}/{{.Index}}">{{.Title}}</a>
      {{end}}
  </div>
</div>
