{{template "header.html" .Task.Title}}

<div class="container">
  {{template "sidebar.html" .}}

  <div class="two-thirds column">
    <div class="row">
      <h2>{{.Task.Title}}</h2>
      {{if .HasHTML}}
      {{.HTMLStatement}}
      {{end}}

      {{if .HasPDF}}
      <div style="text-align: center">
        <a href=/task/{{.Task.Name}}.pdf class="button">{{T "download_pdf"}}</a>
      </div>
      {{end}}
    </div>

    <div class="row">
      <h3>{{T "send_label"}}</h3>
      <form enctype="multipart/form-data" method="post" action="/task/{{.Task.Name}}">
        <div class="row">
          <label for="code">{{T "code_label"}}</label>
          <textarea class="u-full-width" id="code" name="code"
               placeholder="{{T "insert_code"}}" style="height: 350px;"></textarea>
        </div>

        <div class="row">
          <div class="six columns">
            <label for="file">{{T "file_label"}}</label>
            <input type="file" id="file" name="file">
          </div>

          <div class="three columns">
            <label for="lang">{{T "language_label"}}</label>
            <select class="u-full-width" id="lang" name="lang" required>

          {{range $mime, $lang := .Langs}}
              <option value="{{$mime}}">{{with $lang}}{{.Name}}{{end}}</option>
          {{end}}
            </select>
          </div>

          <div class="three columns">
            <label for="submit">&nbsp;</label>
            <input class="button-primary u-full-width" id="submit" type="submit" value="{{T "send_label"}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{template "footer.html"}}
